{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'position-absolute top-50 start-50 translate-middle g-3 row-cols-lg-auto'}}) }}
    {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
