{% extends 'base.html.twig' %}

{% block title %}Bucket{% endblock %}

{% block body %}
    <style>
        .max-width-100 {
            width: 10%;
            aspect-ratio: 3/2;
            object-fit: contain;
            align-items: center;
        }
    </style>


    {% if is_granted('ROLE_USER') %}
        <h2 class="ms-4 mt-3 mb-5">Panier</h2>
        {% if command.isValid == false %}
            <form action="{{ path('app_bucket_post', {'command' : command}) }}" method="post"
                  class="d-flex flex-column mb-3">
                {% for commandLine in commandLines %}
                    <div class="d-flex align-items-center flex-row mb-3">
                        {#
                        <form action="{{ path('app_bucket_delete', {'commandLine': commandLine}) }}" method="post" class="d-flex align-items-center flex-row mb-3">
                        #}
                        <img src="{{ asset('products/' ~ commandLine.product.picture) }}" alt=""
                             class="img-fluid max-width-100">
                        {{ commandLine.product }}
                        <input value="{{ commandLine.quantity }}">
                        <p class="align-items-center">{{ commandLine.product.price }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-currency-euro" viewBox="0 0 16 16">
                                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                            </svg>
                        </p>
                        {# <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                            </form> #}
                    </div>
                {% endfor %}
                <a href="{{ path("app_category_all") }}" class="link-underline link-underline-opacity-0 text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                    Continuer mes achats</a>
                <button class="btn btn-success" type="submit">COMMANDER</button>
            </form>
        {% elseif command.isValid == true %}
            <p class="position-absolute top-50 start-50 translate-middle">The bucket is empty</p>
        {% endif %}
    {% else %}
        <h5 class="position-absolute top-50 start-50 translate-middle text-secondary">You need to be connected</h5>
    {% endif %}
{% endblock %}
